@import './colors';

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  div#header {
    flex: auto;
    font-family: 'Delius Unicase', cursive;
    font-size: 24px;
  }

  div#content {
    flex: auto;
    font-family: 'Delius';
    font-size: 16px;
  }

  div#footer {
    flex: auto;
    display: flex;

    #profile {
      flex: auto;
      text-align: left;

      a {
        padding-right: 10px;
      }
    }

    #disclaimer {
      flex: auto;
      text-align: right;
    }
  }
}
