body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  #header {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    border-bottom: 2px solid $pencil;

    #logo {
      flex: 1;
    }

    #navigation {
      flex: 1;
      text-align: right;
    }
  }

  #content {
    flex: auto;
  }

  #footer {
    flex: auto;
    display: flex;

    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 32px;
    border-top: solid 2px $pencil;

    #disclaimer {
      flex: auto;
      text-align: right;
    }
  }
}
