#portfolio {
  #portfolio-links {
    font-size: 16px;
  }

  #stack {
    img {
      height: 40px;
    }
  }

  #color-pallete {
    display: flex;
    margin: 10px;

    div {
      flex: auto;
      height: 16px;
    }
  }
}
