@import url(https://fonts.googleapis.com/css?family=Delius);
@import url(https://fonts.googleapis.com/css?family=Delius+Unicase:400);

@import './colors';
@import './syntax';

@import './layout';
@import './lists';
@import './portfolio';
@import './resume';
@import './skills-widget';

body {
  background-image: url('/images/lined-paper.jpg');
  color: $pencil;
  font-family: 'Delius';

  a {
    color: $blue;
    text-decoration: none;
  }

  #container {
    width: 650px;
  }

  #header {
    a {
      color: $pencil;
      font-weight: bold;
    }

    #logo a {
      font-size: 24px;
      font-family: 'Delius Unicase', cursive;
    }

    #navigation a {
      font-size: 18px;
      margin-left: 12px;
      text-transform: uppercase;
    }
  }

  #content {
    font-size: 16px;

    .profile-image {
      width: 256px;
    }

    .post-header {
        font-size: 14px;
        font-style: italic;
    }

    h1 { font-size: 24px; }
    h2 { font-size: 20px; }
    h3 { font-size: 18px; }
    h3 { font-size: 16px; }

    #portfolio-links {
      font-size: 16px;
      margin: 0;
      padding-top: 0;
    }

  }

  #footer {
    font-size: 12px;
  }
}
